<style>

#test {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}

#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}

#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:200px;
    float:left;
    padding:5px; 
}

#section {
    width:700px;
    float:left;
    padding:10px; 
}

#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}

#game, td, th {
    border: 1px solid green;
}

td {
    background-color: #FF9900;
    color: black;
    height: 50px;
    width: 50px;
    vertical-align: center;
}

table.calculator td {
    background-color: #808080;
    color: white;
    height: 50px;
    width: 50px;
    vertical-align: center;
}

</style>